 #container{
        width: 450px;
        height: auto;
        margin-top: 100px;
    }
    body{
    background: url('../img/civic.jpg');
    background-size: cover;
    background-attachment: fixed;
    }
    .panel{
        
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        box-shadow: 1px 1px 1px black;
        color:#000;
    }